<!DOCTYPE html>
<html>
    <head>
        <title><%= htmlWebpackPlugin.options.title %></title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
        <link rel="shortcut icon" type="image/png" href="https://www.freeiconspng.com/uploads/deadpool-icon-png-18.png">
    </head>
    <body>
        <div id='root'></div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.2.5/polyfill.js" integrity="sha384-vJ7Oo9FwNAeU5HcVYPwpZQv+7vbCE2wySliutRLqoR7ZQQLiRJBORnOkyCbpRaaI" crossorigin="anonymous"></script>
    </body>
</html>